name: Backend Build

on:
  push:
    branches: ["main", "master"]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  pull_request:
    branches: ["main", "master"]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  workflow_dispatch:
    inputs:
      git-ref:
        description: "Git Ref (Optional) - Commit SHA, Branch, or Tag"
        required: false

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git-ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase Repo Owner
        run: |
          echo "REPO_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
        env:
          GITHUB_REPOSITORY_OWNER: "${{ github.repository_owner }}"

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ env.REPO_OWNER }}/bananatalk-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
