name: Backend Build

on:
  push:
    branches: ["main", "master"]
    paths:
      - "backend/**"
  pull_request:
    branches: ["main", "master"]
    paths:
      - "backend/**"

jobs:
  build-docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: false
          tags: banana-talk-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
